@import '../../node_modules/rfs/scss.scss';
@import 'styles/var';
@import 'styles/mixins';
.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	@include media-up(md) {
		flex-direction: row;
		@include rfs(60px, gap);
	}
}
.body {
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: flex-start;
}

.img {
	width: 100%;
	object-fit: cover;
	object-position: center;
	@include rfs(30px, border-radius);
	@include media-up(md) {
		width: 50%;
	}
}

.title {
	color: $white;
}
