@import 'styles/var';
@import '../../node_modules/rfs/scss.scss';
.h1 {
}
.h2 {
	font-weight: 700;
	@include rfs(40px, font-size);
	@include rfs(50px, line-height);
	color: $black;
}
.h3 {
	font-weight: 700;
	@include rfs(30px, font-size);
	@include rfs(44px, line-height);
	color: $black;
}
.body_subtitle {
	font-weight: 700;
	@include rfs(18px, font-size);
	@include rfs(24px, line-height);
	color: $secondary;
}

.body_text {
	font-weight: 500;
	font-size: 16px;
	line-height: 150%;
	color: $secondary;
}
